<section class="hero is-info is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <h1 class="title">
                            <i class="fas fa-chess-rook"></i>
                        </h1>
                    </a>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-info is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Star Me!</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">PokeChess</p>
            <p class="subtitle is-5">The OP Chess Game.</p>
        </div>
    </div>
</section>

<section class="hero is-light">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-4">
                    <figure class="image is-512x512">
                        <img src="/img/pokechess.png" alt="pokechess" />
                    </figure>
                </div>
                <div class="column is-1"></div>
                <div class="column">
                    <div class=" player"></div>
                    <div id="roomNumbers" class="subtitle is-4"></div>
                    <div id="state" class="subtitle is-6"></div>
                    <div id="chessboard" style="width: 100%"></div>
                    <div class="box" id="roomForm">
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-info is-fullwidth" type="text"
                                        placeholder="Join room between 0 and 99" type="number" id="room" min="0"
                                        max="99">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button id="button" class="button is-info" onclick="connect()">Join Room</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>