<section class="hero is-light is-bold is-fullheight">
    <!-- Hero head: will stick at the top -->
    <!-- <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <h1 class="title">
                            <i class="fas fa-skull"></i>
                        </h1>
                    </a>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <a class="button is-dark is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Star Me!</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div> -->

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-4"></div>
                <div class="column is-4">
                    <label>Status:</label>
                    <div id="status" class="title is-5 has-text-black"></div>
                    <div id="chessboard" style="width: 100%"></div>

                    <div style="margin: auto"">
                        <!-- Shows the player number and color -->
                          <div class=" player"></div>
                    <div id="roomNumbers">Enter a room number between 0 and 99</div>
                    <form>
                        <div class="columns">
                            <div class="column">
                                <input type="number" id="room" min="0" max="99"
                                    class="form-control form-control-md number">
                            </div>
                            <div class="column">
                                <!-- A button that connects the user to the given valid room number -->
                                <button id="button" class="button is-primary" onclick="connect()">Connect</button>
                            </div>
                        </div>
                    </form>

                    <!-- Displays weather the game is in progress, or over -->
                    <div id="state">Join Game</div>
                </div>
            </div>
            <div class="column is-4">
            </div>
        </div>
    </div>
    </div>
</section>