<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#ff846e" />
    <meta name="keywords" content="Pokemon, Chess, PokeChess,">
    <meta name="author" content="Hrishi Jangir">
    <title>Poke Chess</title>

    <!-- CSS and JS -->

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <script src=" https://kit.fontawesome.com/fcfa154dc8.js " crossorigin=" anonymous "></script>

    <link rel=" stylesheet " href="/js/chessboard-1.0.0.min.css " />
    <link rel=" stylesheet " href="/bulma/bulma.min.css " />

    <style type="text/css">
        body::-webkit-scrollbar {
            width: 0 !important;
        }
    </style>
</head>

<body>
    <%- body %>
</body>

<script src="/js/chessboard-1.0.0.min.js"></script>
<script src="/chess/chess.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>


</html>