<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#ff846e" />
    <meta name="keywords" content="Pokemon, Chess, PokeChess,">
    <meta name="author" content="Hrishi Jangir">
    <title>Poke Chess</title>

    <!-- CSS and JS -->
    <link rel=" stylesheet " href="/bulma/bulma.min.css " />
    <script src=" https://kit.fontawesome.com/fcfa154dc8.js " crossorigin=" anonymous "></script>

    <style type="text/css">
        body::-webkit-scrollbar {
            width: 0 !important;
        }

        .black {
            background-color: #999;
        }

        .white {
            background-color: #fff;
        }
    </style>
</head>

<body>
    <%- body %>
</body>

</html>